<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Game Night - {% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="/static/d20.ico" />
{#
<!-- 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
 -->
 #}
 
<link rel="stylesheet"	href="{{ url_for('static', filename='bootstrap.min.css') }}">

<!--  <link rel="stylesheet"	href="{{ url_for('static', filename='bootstrap-theme.min.css') }}"> -->

<script	src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script	src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='GameNight.css') }}">

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-default">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index">Game Night</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"> Character <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">PCs</li>
						{% for pc in menu.pcs %}
						<li><a href="/pc/{{pc.name|urlencode}}">{{pc.name}} <small>(aka: {{pc.abbrev}})</small> - {{pc.pname}}</a></li>
						{% endfor %}
					</ul></li>
				<li><a href="/whiteboard">Whiteboard</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"> Admin <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/pc">PCs</a></li>
					</ul></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	</nav>


	<div class="container gn_body">
	
	{% block title_heading %}
	<h1>{{self.title()}}</h1>
	{% endblock %}
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message[1]}}">{{ message[0] }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	
	{% block content %}{% endblock %}
	</div>
</body>
</html>
