{% extends "/layout.html" %} {% block title %}{{pc.name}}{% endblock %}

{% block content %}

<script type="text/javascript">
  $(function() {
    $("#showEditPc").click(function(e) {
      e.stopPropagation();
      $('#SHOWPC').hide();
      $('#EDITPC').show();
    });

    $("#cancelEditPc").click(function(e) {
      e.stopPropagation();
      $('#EDITPC').hide();
      $('#SHOWPC').show();
    });

    $("#doEditPc").click(function(e) {
      e.stopPropagation();
      $('#EDITPCFORM').submit();
    });
  });
</script>

<div>
	<h2>Stats</h2>
	<div id="SHOWPC" style="display: block;">
		{{pc.name}} (aka: <strong>{{pc.abbrev}}</strong>) - {{pc.pname}}
		<button class="btn  btn-sm  btn-default" id="showEditPc">Edit</button>
	</div>

	<div id="EDITPC"  style="display: none;">
		<form action="update.do" method="post" id="EDITPCFORM">
			{{ updatepc_form.hidden_tag() }}
			
			PC: {{ updatepc_form.name(size=20) }} (aka: {{
				updatepc_form.abbrev(size=10) }}) - {{ updatepc_form.pname(size=20)
				}}</p>
		</form>
		<button class="btn btn-sm  btn-default" id="cancelEditPc">Cancel</button>
		<button class="btn btn-sm  btn-primary" id="doEditPc">Update</button>
	</div>

	<h2>Things I like to do</h2>
	<h2>Things affecting me</h2>

</div>

{% endblock %}
