{% extends "/layout.html" %} 

{% block title %}{{pc.name}}{% endblock %}

{% block content %}

<div> 
	<form action="update.do" method="post">
		{{ updatepc_form.hidden_tag() }}
		<p>
			PC: {{ updatepc_form.name(size=20) }} Player: {{
			updatepc_form.pname(size=20) }} <input type="submit" value="Update">
		</p>
	</form>

<h2>Favourite Things</h2>
<h2>Currently Cast By Me</h2>
<h2>Currently Cast On Me</h2>

<form action="add-unsourced-effect.do" method="post">
{{ add_unsourced_effect_form.hidden_tag()}}
	<p>
	Add bonus: 
		{{ add_unsourced_effect_form.bonusamt() }} 
		{{ add_unsourced_effect_form.bonustype() }} bonus to 
		{{ add_unsourced_effect_form.bonusto() }} 
		<input type="submit" value="Add an effect">
	</p>
</form>

<h3>Unsourced bonuses</h3>

	{% for us in stats.current.unsourced %}
		{{us.amt}} {{us.type}} to {{us.to}}{% if not loop.last %}; {% endif %}
	{% endfor %}

<div style="border: thin solid green; padding: 2; margin: 2 0;">
{{ stats.current }}
</div>

<h2>Computed Bonuses</h2>

<div style="border: thin solid green; padding: 2; margin: 2 0;">
{{ stats.computed }}
</div>
</div>

{% endblock %}